@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 700;
    font-display: swap;
    src: local('Spoqa Han Sans Neo Bold'),
    url('./SpoqaHanSansNeo_Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 500;
    font-display: swap;
    src: local('Spoqa Han Sans Neo Medium'),
    url('./SpoqaHanSansNeo_Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 400;
    font-display: swap;
    src: local('Spoqa Han Sans Neo Regular'),
    url('./SpoqaHanSansNeo_Regular.woff2') format('woff2');
}
